<div class="container-fluid p-0 ">
<div id="carouselExampleInterval" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active h-50% mt-2" data-bs-interval="10000">
            <img src="/public/carosal-images/category-banner_apple-watch-1.png" class="d-block w-100  img-fluid" alt="..."
                style="height: 25rem;">
        </div>
        <div class="carousel-item h-50% mt-2" data-bs-interval="2000">
            <img   src="/public/carosal-images/WatchTrade-InProgram_MainKV_PC_1440x640_nocopy.jpg" class="d-block w-100 img-fluid " alt="..."
                style="height:25rem; ">
        </div>
        <div class="carousel-item mt-2">
            <img src="/public/carosal-images/rolex.png" class="d-block w-100 image-fluid" alt="..."
                style="height: 25rem;">
        </div>
        <div class="carousel-item mt-2">
            <img src="/public/carosal-images/Screenshot (143).png" class="d-block w-100 " alt="..."
                style="height: 25rem;">
        </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div></div>