
  <link rel="stylesheet" href="/public/stylesheet/footer.css">

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolor laudantium repellendus perspiciatis dolores dignissimos deserunt aspernatur quasi, illum tempora?</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fuga aliquid eveniet eos obcaecati suscipit quis quam rerum! Ea, numquam!</p>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#" class="text-decoration-none">HOME</a></li>
            <li><a href="#" class="text-decoration-none">SHOP</a></li>
            <li><a href="#" class="text-decoration-none">MY ORDERS</a></li>
  
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/public/javascript/checkout.js"></script>
</footer>

