
<section>
  <h2 class="Fragrance">Fragrance</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card m-4 border-0" style="width: 15rem;">
          <img src="../public/product-images/33a65061-7467-4caa-8797-bc1b5756dbef_1.02109b559eed9d8d0a2ce84381db649c.jpeg" class="card-img-top" alt="..." style="width:10rem ; height:10rem ;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card m-4 border-0" style="width: 15rem;">
          <img src="../public/product-images/98032.webp" class="card-img-top" alt="..." style="width:10rem ; height:10rem ;">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-4 border-0" style="width: 15rem;">
          <img src="../public/product-images/ba49014df5c6a5f63aa6f166dbb5f131.jpg" class="card-img-top" alt="..." style="width:13rem ; height:10rem ;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-4 border-0" style="width: 15rem;">
          <img src="../public/product-images/Hims-Skin-SubCategory-AntiAging-D-Module3-ProductCard-2-AntiagingCream.webp" class="card-img-top" alt="..." style="width:15rem ; height:10rem ;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  </section>

  
 </body>

</html>