

  
<style>




#inavbar{
    z-index: 1;
}
#inavbar {
  overflow: hidden;
  background-color: rgb(226, 226, 226);
}

#inavbar a {
  float: left;
  display: block;
  color: #fffdfd;
  text-align: center;
  padding: 14px 3px;
  text-decoration: none;
  font-size: 17px;
}

#inavbar a:hover {
  background-color: rgb(215, 215, 215);
  color: rgb(30, 28, 28);
}

#inavbar a.active {
  background-color: #04AA6D;
  color: rgb(255, 255, 255);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
</style>
</head>
<body>

<div class="header">
     <%- include('../partials/userheader-shop') %>
</div>

<div id="inavbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">  
     <button class="navbar-toggler" type="button" style="background-color: rgb(220, 220, 220);" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active p-2 ">
            <a href="/shop">All </a>
          </li>
          <% category.forEach(category => { %>
            <li class="nav-item active p-2 ">
              <a href="/categorywise/<%= category._id %>"> <%= category.category_name %><span class="sr-only"> </span></a>
            </li>
            <% }) %> 
            
        </ul>
        
      
    </div>
  </nav>
</div>
 

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("inavbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

</body>
</html>
