
<%- include('../layout/metatag') %>
  <form class="d-flex"></form>
    <header> 
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar position-fixed sticky-top  navbar-expand-lg bg-white ">
                    <div class="container-fluid ">
                        <a class="navbar-brand" href="#">
                            <img src="/public/logo/mustache.png" alt="">
                            The Men Factory</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto  mb-lg-0  ">
                                <li class="nav-item">
                                    <a class="nav-link active fw-semibold" aria-current="page" href="/" >Home</a>
                                </li>
                        
                                <li class="nav-item">
                                    <a class="nav-link active fw-semibold" href="/shop">Shop</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link active fw-semibold ms-2 " href="#">About Us</a>
                                                  
                            </ul>
                             </li>            <% if(customer) { %>
                                 <a href="/viewcart">  <button class="btn btn-outline-dark me-2" type="submit">
                               
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        Cart
                                  <% if (countInCart>0) { %>
                                         <span class="badge bg-dark text-white ms-1 rounded-pill"><%= countInCart %> </span>
                                    <% } %>
                                   
                                    </button></a> 
                
                           <a href="/viewWishlist"> <i class="fa fa-heart ms-1 text-danger"></i></a>
                        
                            <sup>  <span class="badge rounded-pill badge-notification bg-danger "><%=countInWishlist %> </span></sup> 
                     <% } %>
                             <% if(customer) {%>   
                            <button class="btn btn-light btn-circle btn-circle-xl m-1 ms-3" 
                            style="border-radius: 20px; 
                              "><a href="/userprofile" class="text-decoration-none"> <i class="fa fa-user text-dark"></i>  <span class="text-dark"><%=profileusername%></span>
                               </button>
                             </a>
        
                             
                                <%} %>
                           
                           
                            </form>
                            <div class="dropdown ">
                                <button class="btn btn-secondary bg-dark ms-3" type="button"
                                    aria-expanded="false">
                                    <% if(customer) {%>                                   
                                 <a href="/logout" style="text-decoration:none ; color: white;"> Logout</a>
                    
                                  <%}else{%>
                                    <a href="/login" style="text-decoration:none ; color: white;">login</a>
                      
                                    <%} %>

                                </button>
                             

                                 </ul>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </div>



  



