
<%- include('../layout/metatag') %>
    <header> 
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar sticky-top  navbar-expand-lg bg-white ">
                    <div class="container-fluid ">
                        <a class="navbar-brand" href="#">
                            <img src="/public/logo/mustache.png" alt="">
                            The Men Factory</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto  mb-lg-0  ">
                                <li class="nav-item">
                                    <a class="nav-link active fw-semibold" aria-current="page" href="/">Home</a>
                                </li>
                        
                                <li class="nav-item">
                                    <a class="nav-link active fw-semibold" href="/shop">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active fw-semibold" href="/viewcart">Cart</a>
                                    <% if(customer) { %>
                                        <% if (countInCart !== 0) { %>                                  
                                    <sup> <span class="badge rounded-pill  bg-danger" style="font-size: 9px;
                                    position: fixed;
                                    top: 25px;
                                    right: 500px;"><%= countInCart  %>
                                     </span>
                                         </sup>
                                        <%} %>
                            <% } %>                         
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active fw-semibold ms-2 " href="#">About Us</a>
                                </li>                         
                            </ul>
                           <a href="/viewWishlist"> <i class="fa fa-heart ms-1 text-danger">  </i> </a>
                           <% if(customer) { %>
                           <sup> <span class="badge rounded-pill badge-notification bg-danger" style="font-size:9px;"></span></sup> 
                           <%} %>
                            <button class="btn btn-light btn-circle btn-circle-xl m-1 ms-3" 
                            style="border-radius: 20px; 
                              "><a href="/userprofile"> <i class="fa fa-user text-dark"></i></a></button>
                            <div class="dropdown ">
                                <button class="btn btn-secondary bg-dark ms-3" type="button"
                                    aria-expanded="false">
                                    <% if(customer) {%>                                   
                                 <a href="/logout" style="text-decoration:none ; color: white;"> Logout</a>
                    
                                  <%}else{%>
                                    <a href="/login" style="text-decoration:none ; color: white;">login</a>
                      
                                    <%} %>

                                </button>
                             

                                 </ul>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </div>



  



