<%- include('../layout/metatag') %>
<link rel="stylesheet" href="/public/stylesheet/wishlistbtn.css">

<button class="bubbly-button">      <i class="fa fa-heart"></i></button>

<script src="/public/javascript/wishlists.js"></script>