.gradient-custom {
    /* fallback for old browsers */
    background: #474642;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(0, 0, 0), rgb(75, 75, 75));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(64, 64, 64))
    }