
<link rel="stylesheet" href="/public/stylesheet/coupon.css">
<div class="container">
    <div class="row">
        <div class="col-md-6" id="image">
            <img src="https://www.freepnglogos.com/uploads/plane-png/png-jet-plane-transparent-jet-plane-images-pluspng-34.png" alt="" id="plane">                
        </div>
        <div class="col-md-6">
            <div id="info"class="pt-md-4">
                <div id="mobile-plane">
                    <img src="https://www.freepnglogos.com/uploads/plane-png/png-jet-plane-transparent-jet-plane-images-pluspng-34.png" alt="">                
                </div>
                <div class="h4">Get</div>
                <div class="offer font-weight-bold"><i>20% OFF</i></div>
                <div class="h4">on</div>
                <div class="h4">Your Next Flight with us</div>
                <div class="pt-5 coupon">
                    <i>coupon valid for One Month</i>
                </div>
                <div class="btn rounded mt-3">REDEEM NOW</div>
            </div>
        </div>
    </div>
</div>