<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 
   CSS3,Bootstrap,Tailwind CSS which are 100% Mobile friendly. w3Hubs all Layouts are responsive 
   cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
   <head>
      <title>Forgot Password</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <style>
         body {
         background-color: #c5c5c5;
         font-family: Nunito Sans;
         }
         .btn {
         background-color: #cccccc;
         width: 100%;
         color: #fff;
         padding: 10px;
         font-size: 18px;
         }
         .btn:hover {
         background-color: #2d3436;
         color: #fff;
         }
         input {
         height: 50px !important;
         }
         .form-control:focus {
         border-color: #18dcff;
         box-shadow: none;
         }
         h3 {
         color: #17c0eb;
         font-size: 36px;
         }
         .cw {
         width: 35%;
         }
         @media(max-width: 992px) {
         .cw {
         width: 60%;
         }
         }
         @media(max-width: 768px) {
         .cw {
         width: 80%;
         }
         }
         @media(max-width: 492px) {
         .cw {
         width: 90%;
         }
         }
      </style>
   </head>
   <body>
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-5 center">
            <h3 class="text-dark ">Forgot Password </h3>
            <% if (locals.invalid) { %> 
            <p style="margin-top: 1rem;" class="text-danger"><%= invalid %></p>
            <% }else{ %>
            <p style="margin-top: 1rem;" class="text-muted">We will send you a One Time Password <br> on your email</p>
            <% } %> 
            <form class="pb-3" action="/postforgotpassword" method="post">
               <div class="form-group ">
                 <input type="text" id="email" name="email" class="form-control" placeholder="Enter email*" required/>
               </div>
               <p class="text" id="demo"></p>
            <button onclick="pleasewaite()" type="submit" class="btn">GET OTP</button> 
            </form>
         </div>
      </div>
   </body>
</html>

<script>
  function pleasewaite(){
      document.getElementById("demo").innerHTML="Please Wait"
  }
</script>
