
       <%- include('../partials/user-header') %>

       <%- include('../partials/carousel') %>
<h2 class="text text-center mt-5">Skin Care's</h2>
       <section class="py-5">
        <div class="container px-4 px-lg-5 mt-3">
           
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img style="height: 11rem" class="card-img-top" src=""alt="..." />
                        <!-- Product details-->
                        <div class="card-body ">
                            <div class="text-center">
                                <!-- Product name-->
                                <h3 class="fw-bolder"></h3>
                                <!-- Product price-->
                              <strong class="text fs-4  "></strong> 
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a></div>
                        </div>
                    </div>
                    
                </div>
                

                <div class="col mb-5">
                  <div class="card h-100">
                      <!-- Product image-->
                      <img style="height: 11rem" class="card-img-top" src=""alt="..." />
                      <!-- Product details-->
                      <div class="card-body ">
                          <div class="text-center">
                              <!-- Product name-->
                              <h3 class="fw-bolder"></h3>
                              <!-- Product price-->
                            <strong class="text fs-4  "></strong> 
                          </div>
                      </div>
                      <!-- Product actions-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a></div>
                      </div>
                  </div>
                  
              </div>
              
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img style="height: 11rem" class="card-img-top" src="/public/products-images/63906abd94911ccb92b38d1b.jpg"alt="..." />
                        <!-- Product details-->
                        <div class="card-body ">
                            <div class="text-center">
                                <!-- Product name-->
                                <h3 class="fw-bolder"></h3>
                                <!-- Product price-->
                              <strong class="text fs-4  "></strong> 
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a></div>
                        </div>
                    </div>
                    
                </div>
               
               </div>
                </div>
                </section>
       <%- include('../partials/footer') %>
       <%- include('../partials/prfumes') %>

