
<!DOCTYPE html>
<html>
   <head>
      <title>Reset Password Form In Bootstrap</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <style>
         body {
         background-color: #c5c5c5;
         font-family: Nunito Sans;
         }
         .btn {
         background-color: #cccccc;
         width: 100%;
         color: #fff;
         padding: 10px;
         font-size: 18px;
         }
         .btn:hover {
         background-color: #2d3436;
         color: #fff;
         }
         input {
         height: 50px !important;
         }
         .form-control:focus {
         border-color: #18dcff;
         box-shadow: none;
         }
         h3 {
         color: #17c0eb;
         font-size: 36px;
         }
         .cw {
         width: 35%;
         }
         @media(max-width: 992px) {
         .cw {
         width: 60%;
         }
         }
         @media(max-width: 768px) {
         .cw {
         width: 80%;
         }
         }
         @media(max-width: 492px) {
         .cw {
         width: 90%;
         }
         }
      </style>
   </head>
   <body>
      <div class="container d-flex justify-content-center align-items-center vh-100">
         <div class="bg-white text-center p-5 center">
            <h3 class="text-dark">Enter New Password</h3>
            <p class="text-muted">A strong password helps prevent unauthroized <br> access to your email account.</p>
  
            <form class="pb-3" action="/newpassword" method="post">
               <div class="form-group">
                <input type="hidden" name="email" value="<%=email%>">
                 <input type="text"  name="newpassword" class="form-control" placeholder="Enter New Password" required/>
                 <br>
                 <input type="password"   name="cnewpassword" class="form-control" placeholder="Conform Password" required/>
               </div>
               
            <button type="submit" class="btn">Submit</button>        
        
            </form>
            <% if (locals.invalid) { %> 
                <p class="text-danger"><%= invalid %></p>
                <% } %> 
         </div>
      </div>
   </body>
</html>



<script>
    document.getElementById("show_password").addEventListener("click", function(){
    
    var pw = document.getElementById("password");
    if (pw.type == "password") {
        pw.type = "text";
    } else {
        pw.type = "password";
    }
});
</script>