<%- include('../layout/metatag') %>
<title>otp</title>
<div  class="container mt-5">
    <div class="d-flex justify-content-center align-items-center container">
        <form action="/otpid" method="post">
        <div class="card py-5 px-3 ">
            <div class="d-flex align-items-center justify-content-center">
                <h5 class="m-0 text-success">Email verification</h5>
            </div>        
            <h6 class="mobile-text mt-3">Enter the otp received in yout email</h6>
            <div class="d-flex flex-row mt-4">
                <input type="text" name="otp" id="otp" class="form-control" />
            </div>
            <p class="text-danger"></p>        
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" value="Submit" class="btn btn-success btn-lg mt-3">Submit</button>
              </div>           
            <div class="text-center mt-0"><span class="d-block mobile-text">Thank you for joining our family</span>
                <span class="font-weight-bold text-danger cursor">Cadbury</span></div>
        </div>
        </form>
    </div>
</div>