
<%- include('../layout/metatag') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/stylesheet/signup.css">
</head>

<body>

 
  <div class="register-form mt-3 mb-3"> 
    <div class="container">
          <div class="row">
            <div class="col-md-6 d-none d-md-block border">
                <h1 class="text-center pt-3">Create Account<br> Now</h1>
            </div>
            <div class="col-md-6 bg-dark">
                <form action="/signup" method="post" id="form" class="p-4 text-white">
                  <div class="form-group">
                      <label for="name"><i class="fas fa-user"></i> User Name</label>
                      <input type="text" name="username" class="form-control" id="name" required >
                      <p id="nameError" class="text-danger err"></p>
                  </div>
                  <div class="form-group">
                      <label for="email"><i class="fas fa-envelope"></i> Email</label>
                      <input type="email" id="email" name="email" class="form-control" >
                      <p id="emailError" class="text-danger err"></p>
                  </div>
                             
                  <div class="form-group">
                    <label for="pc"><i class="fas fa-phone"></i> Phone Number</label>
                    <input type="num" name="phone" id="phone" class="form-control"  >
                    <p id="phoneError" class="text-danger err"></p>
                  
                </div>
                  <div class="form-group">
                      
                  <div class="form-group">
                      <label for="p"><i class="fas fa-lock"></i> Password</label>
                      <input type="password" name="Password" id="password" class="form-control" >
        
			<p id="passwordError" class="text-danger err"></p>
                  </div>
                            
                  <div class="form-group">
                    <label for="pwd"><i class="fas fa-lock"></i> Conform Password</label>
                    <input type="password" name="CPassword" id="conpassword" class="form-control"   >
                    <p id="conpasswordError" class="text-danger err"></p>
                  
                </div>
           
                  <div class="form-group form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                      </label>
                  </div>
                  <button type="submit" class="btn btn-light mb-3 mt-3 float-right">Register</button>
                </form>
            </div>
          </div>
      </div>
  </div>
</body>
</html>

<script src="/public/javascript/signup.js"></script>