<%- include('../layout/metatag') %>

<%- include('../partials/user-header') %>

<section>
<link rel="stylesheet" href="/public/stylesheet/wishlist.css">
<div class="container ">
    <div class="row">

            <!-- Account Sidebar-->
    
        <!-- Wishlist-->
        <div class="col-lg-8 pb-5 mt-5" style="margin-left: 10rem;">
            <!-- Item-->
            <div class="cart-item d-md-flex justify-content-between"><span class="remove-item">
                <i class="fa fa-times"></i>
             
            </span>
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
                        <div class="cart-item-product-info">
                            <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4>
                            
                            <div class="text-lg text-body font-weight-medium pb-1">$910.00</div><span>Availability: 
                                <button class="btn btn-dark" style="float: right;     position: relative;
                                bottom: 28px;
                                left: 100px;">
                          <span class="fa fa-shopping-cart "></span></span>      
                            </button> 
                        </div>
                    </a>
                </div>
            </div>
        </section>
            <!-- Item-->
        